.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  display: flex;
  align-items: center;

  &__input {
    width: 50%;
    display: flex;
    align-items: center;

    &__mode {
      position: relative;

      &__text {
        margin-left: 1rem;
        color: #b0bec5;
        font-size: small;
        width: 100px;
        position: absolute;
        top: 1rem;
        left: -1.75rem;
      }
    }

    &__field {
      flex: 1;
      flex-grow: 1;
    }

    &__add_item {
      position: absolute;
      top: 0.75rem;
      box-shadow: none;
    }
  }
}
