.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  display: flex;
  align-items: center;

  &__input {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 1rem;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    &__mode {
      position: relative;

      &__text {
        margin-left: 1rem;
        color: #b0bec5;
        font-size: small;
        width: 100px;
        position: absolute;
        top: 1rem;
        left: -1.75rem;
      }
    }

    &__field {
      &__clear-button {
        position: absolute !important;
        right: 2rem;
      }
      &__add-button {
        margin-left: 2rem !important;
      }
    }

    &__add_item {
      position: absolute;
      top: 0.75rem;
      box-shadow: none;
    }
  }
}
